{% extends "BprsStyleBundle::layout.html.twig" %}
{% block body_main %}
    <div class="page-header">
    <h1>Showing {{ start_result }} - {{ end_result }} of {{ total }} series</h1>
    <div>
    <ul class="list-group">
        {% for series in seriess %}
            <li class="list-group-item">[<a href="{{ path('csv_firstruns', {'id': series.id}) }}">{{ series.abbrevation}}</a>] {{ series.title }} - {{ series.promoText }}</li>
        {% endfor %}
    </ul>
    <a href="{{ path('csv_series', {'page': currentPage-1 }) }}">vorherige</a> - <a href="{{ path('csv_series', {'page': currentPage+1 }) }}">nächste</a>
{% endblock %}