{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'programmtool', 'dropdown': 'delorian_first_runs_total'} %}
{% endblock %}

{% block title %}
    {{ 'delorian.runs_total_title'|trans({'%project%': name}) }}
{% endblock %}

{% block body_main %}

<ul class="nav nav-tabs">
<li role="presentation"><a href="{{ path('csv_firstruns_total') }}">{{ 'delorian.first_runs_total_header'|trans }}</a></li>
<li role="presentation" class="active"><a href="{{ path('csv_runs_total') }}">{{ 'delorian.runs_total_header'|trans }}</a></li>
<li role="presentation"><a href="{{ path('csv_hitlist') }}">{{ 'delorian.hitlist_header'|trans }}</a></li>
</ul>
    <div class="page-header">
        <p>
            {{ 'delorian.runs_total_subheader'|trans }}
        </p>
    </div>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-6">
                {% include "BprsStyleBundle::datetimepicker.html.twig" with {'widget': form.from} %}
            </div>
            <div class="col-md-6">
                {% include "BprsStyleBundle::datetimepicker.html.twig" with {'widget': form.to} %}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/bprsstyle/js/moment/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/bprsstyle/js/moment/de.js') }}"></script>
    <script src="{{ asset('bundles/bprsstyle/js/datetimepicker.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready( function(){
            $('#delorian_first_runs_total_from_picker').datetimepicker({
                locale: 'de',
                // format: "DD.MM.YYYY hh:mm",
                date: moment($('#delorian_first_runs_total_from').val()),
                useCurrent: true,
                calendarWeeks: true,
                allowInputToggle: true,
                showTodayButton: true
            });

            $('#delorian_first_runs_total_to_picker').datetimepicker({
                locale: 'de',
                // format: "DD.MM.YYYY hh:mm",
                date: moment($('#delorian_first_runs_total_to').val()),
                useCurrent: true,
                calendarWeeks: true,
                allowInputToggle: true,
                showTodayButton: true
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/bprsstyle/css/datetimepicker.min.css') }}" rel="stylesheet" />
{% endblock %}
