{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'programmtool', 'dropdown': 'delorian_first_runs_total'} %}
{% endblock %}


{% block body_main %}

<ul class="nav nav-tabs">
<li role="presentation"><a href="{{ path('csv_firstruns_total') }}">{{ 'delorian.first_runs_total_header'|trans }}</a></li>
<li role="presentation"><a href="{{ path('csv_runs_total') }}">{{ 'delorian.runs_total_header'|trans }}</a></li>
<li role="presentation" class="active"><a href="{{ path('csv_hitlist')}}">{{ 'delorian.hitlist_header'|trans }}</a></li>
</ul>
    <div class="page-header">
        <p>
            {{ 'delorian.hitlist_subheader'|trans({'%link%': path('csv_htilist_helper')})|raw }}
        </p>
    </div>
    {{ form_start(form) }}
    {{ form_end(form) }}

{% endblock %}
