{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'login', 'dropdown': ''} %}
{% endblock %}
{% block body_main %}
  <form class="form-signin" action="{{ path('bprs_user_login_check') }}" method="post">
        <h1 class="form-signin-heading">{{ 'bprs_user.login.header'|trans }}</h1>
        <div class="form-group">
            <label for="name">{{ 'bprs_user.login.username_label'|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="{{ 'bprs_user.login.username_label'|trans }}" autofocus required />
        </div>
        <div class="form-group">
            <label for="password">{{ 'bprs_user.login.password_label'|trans }}</label>
            <input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'bprs_user.login.password_label'|trans }}" required />
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="remember_me" name="_remember_me" checked />
                {{ 'delorian.login.remember_me_label'|trans }}
            </label>
        </div>
        <div class="form-group">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <a href="{{ path('bprs_user_iforgot') }}">{{ 'bprs_user.login.reset_password'|trans }}</a
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">{{ 'bprs_user.login.submit'|trans }}</button>
        </div>
  </form>
{% endblock %}
