{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'programmtool', 'dropdown': ''} %}
{% endblock %}

{% block body_main %}
    <div class="page-header">
        <h1>{{ series.title }}</h1>
        <p>{{ series.abstractTextPublic|default('') }}</p>
        <p>Angelegt am: {{ series.createdAt|date("d.m.Y H:i") }}</p>
        <p>Aktualisiert am: {{ series.updatedAt|date("d.m.Y H:i") }}</p>
        <p>UniqID: {{ series.id }}</p>
        <a href="#" data-id="{{ series.id }}" class="btn btn-default series_import"><span class="glyphicon glyphicon-transfer"></span> Importiere gesamte Sendereihe</a>
    </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Erstausstrahlung</td>
                    <td>Title</td>
                    <td>Staffel</td>
                    <td>Folge</td>
                    <td>Programmtool</td>
                    <td>Importieren</td>
                </tr>
            </thead>
            <tbody>
                {% for episode in episodes %}
                    <tr>
                        <td>{{ episode.firstRanAt|date('d.m.Y H:i')}}</td>
                        <td>{{ episode.title }}</td>
                        <td>{{ episode.seasonNumber}}</td>
                        <td>{{ episode.episodeNumber}}</td>
                        <td><a href="http://programm.okto.tv/episode/{{ episode.id}}/{{series.abbrevation}}-{{episode.seasonNumber}}x{{ episode.episodeNumber}}" target="blank">{{ episode.id }}</a></td>
                        <td><a href="#" data-id="{{ episode.id }}" class="btn btn-default episode_import"><span class="glyphicon glyphicon-transfer"></span> Importiere Episode</a></td>
                        {# TODO: check with Delorian Database to display overwrite Button #}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready( function() {
        $('.episode_import').click(function(e) {
            e.preventDefault();
            var id = $(this).data('id');
            $.ajax({
                url: "{{ url('timetravelepisode') }}",
                data: {'id': id},
                type: 'POST',
                statusCode: {
                    200: function () {
                        $(this).addClass("disabled");
                    }
                }
            });
        });
        $('.series_import').click(function(e) {
            e.preventDefault();
            var id = $(this).data('id');
            $.ajax({
                url: "{{ url('timetravelseries') }}",
                data: {'id': id},
                type: 'POST',
                statusCode: {
                    200: function () {
                        $(this).addClass("disabled");
                    }
                }
            });
        });
    });
</script>
{% endblock %}
