{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'programmtool', 'dropdown': ''} %}
{% endblock %}

{% block body_main %}
    <div class="page-header">
    <h1>[{{series.abbrevation}}] {{series.title}}</h1>
    <div>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.from) }}
    {{ form_row(form.to) }}
    {{ form_end(form) }}
{% endblock %}
