{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'programmtool', 'dropdown': ''} %}
{% endblock %}

{% block body_main %}
    <div class="page-header">
        <h1>Showing {{ seriess.getTotalItemCount }} series</h1>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(seriess) }}
    </div>
    <table class="table table-striped">
        <tr>
            {# sorting of properties based on query components #}
            <th{% if seriess.isSorted('s.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(seriess, 'Name', 's.title') }}</th>
            <th{% if seriess.isSorted('s.abbrevation') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(seriess, 'Kürzel', 's.abbrevation') }}</th>
        </tr>
        {% for series in seriess %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ series.title }}</td>
                <td><a href="{{ path('show_series', {'id': series.id}) }}">{{ series.abbrevation}}</a></td>
            </tr>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(seriess) }}
    </div>
{% endblock %}
