{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'programmtool', 'dropdown': ''} %}
{% endblock %}

{% block body_main %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Hinweis</h4>
  </div>
  <div class="modal-body">
    Diese UniqID exisitiert bereits. Bestehende Daten werden bei einem Import überschrieben. Dennoch Importieren?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
    <button type="button" class="btn btn-primary" id="overwrite">Überschreiben</button>
  </div>
</div>
</div>
</div>

    <div class="page-header">
        <h1>{{ series.title }}</h1>
        <p>{{ series.abstractTextPublic|default('') }}</p>
        <p>Angelegt am: {{ series.createdAt|date("d.m.Y H:i") }}</p>
        <p>Aktualisiert am: {{ series.updatedAt|date("d.m.Y H:i") }}</p>
        <p>UniqID: {{ series.id }}</p>
        <a href="#" data-id="{{ series.id }}" data-type="series" class="btn btn-default series_import"><span class="glyphicon glyphicon-transfer"></span> Importiere gesamte Sendereihe</a>
        <a href="{{ path('csv_firstruns', {'id': series.id }) }}" class="btn btn-default">{{ 'oktolab_first_runs'|trans }}</a>
    </div>

    <div class="page-header">
        <h1>Showing {{ episodes.getTotalItemCount }} Episodes</h1>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(episodes) }}
    </div>
    <table class="table table-striped">
        <tr>
            {# sorting of properties based on query components #}
            <th{% if episodes.isSorted('e.firstRanAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(episodes, 'Erstausstrahlungsdatum', 'e.firstRanAt') }}</th>
            <th{% if episodes.isSorted('e.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(episodes, 'Name', 'e.title') }}</th>
            <th{% if episodes.isSorted('e.seasonNumber') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(episodes, 'Staffel', 'e.seasonNumber') }}</th>
            <th{% if episodes.isSorted('e.episodeNumber') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(episodes, 'Folge', 'e.episodeNumber') }}</th>
            <th{% if episodes.isSorted('e.id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(episodes, 'Programmtoollink', 'e.id') }}</th>
            <th>Importer</th>
        </tr>
        {% for episode in episodes %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ episode.firstRanAt|date('d.m.Y H:i')}}</td>
                <td>{{ episode.title }}</td>
                <td>{{ episode.seasonNumber}}</td>
                <td>{{ episode.episodeNumber}}</td>
                <td><a href="http://programm.okto.tv/episode/{{ episode.id}}/{{series.abbrevation}}-{{episode.seasonNumber}}x{{ episode.episodeNumber}}" target="blank">{{ episode.id }}</a></td>
                <td><a href="#" data-id="{{ episode.id }}" data-type="episode" class="btn btn-default episode_import"><span class="glyphicon glyphicon-transfer"></span> Importiere Episode</a></td>
            </tr>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(episodes) }}
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready( function() {
        var referer;
        $('.episode_import').click(function(e) {
            e.preventDefault();
            referer = $(this);
            $.ajax({
                url: "{{ url('timetravel') }}",
                data: {'id': referer.attr('data-id'), 'type': 'episode'},
                type: 'POST'
            }).success(function(data, status){
                console.log(data);
                if (data.already_exists !== undefined) {
                    $('#myModal').modal('show');
                }
            });
        });
        $('.series_import').click(function(e) {
            e.preventDefault();
            referer = $(this);
            $.ajax({
                url: "{{ url('timetravel') }}",
                data: {'id': referer.attr('data-id'), 'type': 'series'},
                type: 'POST'
            }).success(function(data, status){
                console.log(data);
                if (data.already_exists !== undefined) {
                    // theres a series with this uniqID. Do you want to overwrite it?
                    $('#myModal').modal('show');
                }
            });
        });

        $('#overwrite').click(function(e) {
            referer.addClass("disabled");
            console.log(referer);
            e.preventDefault();
            $.ajax({
                url: "{{ url('timetravel')}}",
                data: {'id': referer.attr('data-id'), 'type': referer.attr('data-type'), 'overwrite': 1},
                type: 'POST'
            });
            $('#myModal').modal('hide');
        });
    });
</script>
{% endblock %}
